.slider{
    /* border: 1px solid black; */
    margin-top: 30px;
}

.selector{
    width: 80%;
    /* border: 1px solid blue; */
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.selector>div{
    /* border: 1px solid pink; */
    height: 100%;
    width: 13%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.selector>div img{
    height: 25px;
    width: 25px;
}

.selector>div p{
    font-size: 18px;
    font-weight: 700;
    color: #929DAF;
}

.selector>div p:hover{
    color: #b4c0d3;
}

.underlined{
    border-bottom: 4px solid #28a0f3;
}

.underlined p{
    color: #28a0f3;
}